server:
  port: 8086
spring:
  application:
    name: payroll-processing
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:payroll_processing_db
    username: sa
    password:
  data:
    jpa:
      repositories:
        bootstrap-mode: default
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true